/*SELETIVA DE CORES E LINKS EXTERNOS*/

:root{
    /*SOMENTE CORES NESSA SEÇÃO*/
    --main-branco: rgba(255, 255, 255, 0.927);
    --main-roxo: #ac85f9;
    --main-vermelho:#f98a86;
    --main-amarelo: #ffcc41;
    /*SOMENTE FONTES NESSA SEÇÃO*/
    --main-titulo:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --main-principal: "courier", sans-serif;
}
*{
    margin: 0px;
    padding: 0px
}
/*CONFIGURAÇÕES MAIN, BODY E HEADER*/
main{
    max-width: 1100px;
    min-width: 300px;
    padding: 0px 10px 10px 10px;
    margin: auto auto 20px auto;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--main-white);
}
header{
    padding: 40px;
    min-height: 100px;
    background-color: var(--main-roxo);
    border-radius: 0px 0px 10px 10px;
}
header > h1{
    font: bold 2.1em var(--main-titulo);
    margin-bottom: 20px;
    color: var(--main-branco);
    text-align: center;
}
header > p{
    font: bold 1.3em var(--main-titulo);
    color: var(--main-amarelo);
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto auto 20px auto;
}
/*NAVBAR, NAVEGAÇÃO E ANCORAS*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    width: 100%;
    background-color: var(--main-amarelo);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
}
.nav-item{
    min-width: 7rem;
    text-align: center;
    padding-block: 0.5rem;
}
button{
    background-color: var(--main-amarelo);
    border:none;
}
.btn{
    padding: 7px;
    margin: auto;
}
/*PARTE PARA ARTICLE E BIOGRAFIA*/
h2{
    text-align: center;
    font: bold 20pt var(--main-titulo);
    padding: 10px;
    color: var(--main-amarelo);

}
.display{
    display: flex;
    margin: auto;
    width: 100%;
    
}
.container{
    background-color: var(--main-amarelo);
    min-width: 100px;
    max-width: 450px;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
h3{
    font: bold 15pt var(--main-titulo);
    color: var(--main-branco);
    padding: 5px;
    text-align: center;
}

.vermelho{
    background-color: var(--main-vermelho);
    min-width: 100px;
    max-width: 450px;
    border-radius: 10px;
    margin: 2.5px;
    padding: 5px;
}
/*APENAS PARA OS PROJETOS E TRABALHOS*/
.trabalhos{
    background-color: var(--main-roxo);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
section > h2 {
    text-align: center;
    color: var(--main-amarelo);
}
section > p{
    color: var(--main-branco);
}
/*DEFINIDO ASIDE*/
div>a{
    color:var(--main-roxo);
    padding: 10px;
}
.links{
    display: flex;
    algin-items: center;
}
/*PARTE FINAL*/
footer{
    background-color: var(--main-vermelho);
    display: flex;
    
}
footer > h6{
    font: normal 10pt var(--main-titulo);
    margin: auto;
    text-align: start;
    
}
footer > p{
    font: normal 10pt var(--main-principal);
    margin: auto;
}